<mat-toolbar class="navbar">
  <div class="navbar-content">
    <!-- Normal Navbar -->
    @if (!isSearchActive()) {
      <div class="navbar-left">
        <!-- <button mat-icon-button class="mobile-menu-btn" [matMenuTriggerFor]="mobileMenu">
          <mat-icon>menu</mat-icon>
        </button> -->
        <h1 class="logo" routerLink="/dashboard">NKUverse</h1>
      </div>
      
      <!-- <div class="navbar-center">
        <button mat-icon-button class="nav-icon active">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button class="nav-icon">
          <mat-icon matBadge="3" matBadgeColor="warn">people</mat-icon>
        </button>
        <button mat-icon-button class="nav-icon">
          <mat-icon matBadge="5" matBadgeColor="warn">message</mat-icon>
        </button>
        <button mat-icon-button class="nav-icon">
          <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
        </button>
      </div> -->
      
      <div class="navbar-right">
        <button mat-icon-button class="search-btn" (click)="toggleSearch()">
          <mat-icon>search</mat-icon>
        </button>
        <!-- <button mat-icon-button class="mobile-notifications">
          <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
        </button>
        <button mat-icon-button class="mobile-messages">
          <mat-icon matBadge="5" matBadgeColor="warn">message</mat-icon>
        </button> -->
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-menu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    }
    
    <!-- Search Mode -->
    @if (isSearchActive()) {
      <div class="search-mode">
        <button mat-icon-button (click)="closeSearch()" class="back-btn">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="search-input-container">
          <mat-icon class="search-icon">search</mat-icon>
          <input class="search-input" placeholder="Search NKUverse" autofocus>
        </div>
      </div>
    }
    
    <!-- Menus -->
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    
    <!-- <mat-menu #mobileMenu="matMenu">
      <button mat-menu-item routerLink="/dashboard">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>people</mat-icon>
        <span>Colleagues</span>
      </button>
      <button mat-menu-item>
        <mat-icon>work</mat-icon>
        <span>Projects</span>
      </button>
      <button mat-menu-item>
        <mat-icon>event</mat-icon>
        <span>Events</span>
      </button>
    </mat-menu> -->
  </div>
</mat-toolbar>